parameters:
	ignoreErrors:
		-
			message: "#^Argument of an invalid type array\\|false supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: src/Readdle/Database/FQDBExecutor.php

		-
			message: "#^Cannot call method fetchAll\\(\\) on PDOStatement\\|false\\.$#"
			count: 1
			path: src/Readdle/Database/FQDBExecutor.php

		-
			message: "#^Cannot call method rowCount\\(\\) on PDOStatement\\|string\\.$#"
			count: 1
			path: src/Readdle/Database/FQDBExecutor.php

		-
			message: "#^Method Readdle\\\\Database\\\\FQDBExecutor\\:\\:executeQuery\\(\\) should return PDOStatement\\|string but returns PDOStatement\\|string\\|false\\.$#"
			count: 1
			path: src/Readdle/Database/FQDBExecutor.php

		-
			message: "#^Argument of an invalid type array\\<int, string\\>\\|false supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: src/Readdle/Database/FQDBProvider.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$callback \\- callable that creates default FQDB instance\\)\\: Unexpected token \"\\$callback\", expected type at offset 18$#"
			count: 1
			path: src/Readdle/Database/FQDBProvider.php

		-
			message: "#^Call to an undefined method Prophecy\\\\Prophecy\\\\ObjectProphecy\\:\\:dispatch\\(\\)\\.$#"
			count: 6
			path: src/Readdle/Database/FQDBTest.php

		-
			message: "#^Cannot access property \\$id on object\\|false\\.$#"
			count: 1
			path: src/Readdle/Database/FQDBTest.php

		-
			message: "#^Parameter \\#1 \\$dispatcher of method Readdle\\\\Database\\\\FQDBExecutor\\:\\:setEventDispatcher\\(\\) expects Symfony\\\\Component\\\\EventDispatcher\\\\EventDispatcherInterface, object given\\.$#"
			count: 4
			path: src/Readdle/Database/FQDBTest.php

		-
			message: "#^Parameter \\#2 \\$array of method PHPUnit\\\\Framework\\\\Assert\\:\\:assertArrayHasKey\\(\\) expects array\\|ArrayAccess, array\\|false given\\.$#"
			count: 10
			path: src/Readdle/Database/FQDBTest.php

		-
			message: "#^Cannot call method rowCount\\(\\) on PDOStatement\\|string\\.$#"
			count: 2
			path: src/Readdle/Database/FQDBWriteAPI.php

		-
			message: "#^Method Readdle\\\\Database\\\\FQDBWriteAPI\\:\\:insert\\(\\) should return string but returns PDOStatement\\|string\\.$#"
			count: 1
			path: src/Readdle/Database/FQDBWriteAPI.php

		-
			message: "#^Parameter \\#1 \\$blob of class Readdle\\\\Database\\\\SQLValueBlob constructor expects string, string\\|false given\\.$#"
			count: 1
			path: src/Readdle/Database/SQLValueBlobTest.php

