includes:
	- phpstan-baseline.neon
	- vendor/jangregor/phpstan-prophecy/extension.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
	level: 7
	reportUnmatchedIgnoredErrors: false
	checkMissingIterableValueType: false
	paths:
		- src
	ignoreErrors:
		-
			message: "#^Parameter \\#3 \\.\\.\\.\\$(args|fetch_argument) of method PDOStatement::fetchAll\\(\\) expects \\(callable\\(\\): mixed\\)\\|int\\|string, array\\|null given\\.$#"
			count: 1
			path: src/Readdle/Database/FQDBQueryAPI.php
		-
			message: "#^Parameter \\#1 \\$value of function count expects array\\|Countable, array\\|false given\\.$#"
			count: 1
			path: src/Readdle/Database/FQDBExecutor.php