<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="vendor/autoload.php"
         beStrictAboutTestsThatDoNotTestAnything="true"
         cacheResult="false"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         failOnRisky="true"
         stopOnRisky="true"
         verbose="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
>
    <testsuites>
        <testsuite name="Main testsuite">
            <directory suffix="Test.php">./src/</directory>
        </testsuite>
    </testsuites>
</phpunit>
